.accordion {
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
  }

  .accordion button {
    background-color: #f1f1f1;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: background-color 0.3s ease;
  }

  .accordion button.open {
    background-color: #ccc;
  }

  .accordion .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: white;
  }

  .accordion .content p {
    margin: 10px 0;
  }

  .menu-button {
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .icon {
    font-size: 18px;
    transform: rotate(0);
    transition: transform 0.3s ease;
  }

  .open .icon {
    transform: rotate(45deg);
  }